.overlay {
    position: absolute;
    top: -150%;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    z-index: 5;

    transition: top 1s;
}

.overlay_active {
    top: 0;
    bottom: 0;
}

.appointment {
    background-color: #45927F;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 40px 10px;
    max-width: 375px;
    margin: 0 auto;
    color: #fff;
}

.appointment__title {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    max-width: 224px;
    margin: 0 auto;
}

.appointment__form {
    margin-top: 20px;
}

.callback__label {
    display: block;
    margin-top: 20px;
}

.callback__input {
    border: 1px solid #AFAFAF;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    margin-top: 5px;
}

.callback__group {
    margin-top: 20px;
    padding: 10px;
}

legend {
    padding: 0 10px;
}

.connect__label {
    margin-right: 10px;
}

.callback__btn {
    display: block;
    margin: 20px auto 0px;
}