@font-face {
	font-family: 'PT Sans Caption';
	src: url('../../fonts/PTSansCaption-Bold.eot');
	src: local('☺'), url('../fonts/PTSansCaption-Bold.woff') format('woff'), url('../fonts/PTSansCaption-Bold.ttf') format('truetype'), url('../fonts/PTSansCaption-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PT Sans Caption';
	src: url('..../fonts/PTSansCaption-Regular.eot');
	src: local('☺'), url('../fonts/PTSansCaption-Regular.woff') format('woff'), url('../fonts/PTSansCaption-Regular.ttf') format('truetype'), url('../fonts/PTSansCaption-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}