.header {
    background-color: #F7F7F7;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    
}

.header__burger-menu {
    width: 37px;
    height: 26px;
    background-image: url("../img/burger.png");
}

.header-left,
.header-right {
    display: none;
}

.header__mobile {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 62px;
    height: 18px;
    margin-left: 43px;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.header__phone {
    font-weight: 700;
    line-height: 24px;
}

.header__city {
    font-size: 13px;
    line-height: 24px;
    text-align: right;
}

@media (min-width: 520px) {
    
    .header__container {
        min-height: 80px;
    }

    .header__burger-menu,
    .header__mobile {
        display: none;
    }

    .header-left {
        display: flex;
        align-items: center;
    }

    .header__logo {
        width: 91.04px;
        height: 26.9px;
        margin-left: 0;
    }

    .header__address {
        display: flex;
        flex-direction: column;
        margin-left: 20.55px;
        background-image: url("../img/location.svg");
        background-repeat: no-repeat;
        padding-left: 25px;
    }

    .header-right {
        display: flex;
        flex-direction: column;
    }

    .address__city {
        font-size: 14px;
        line-height: 21px;
    }

    .address__street {
        font-size: 14px;
        line-height: 21px;
        color: #868686;
    }

    .header__phone {
        font-weight: 400;
        background-image: url("../img/whatsapp-header.png");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center left;
        line-height: 30px;
        padding-left: 25px;
        align-self: center;
    }

    .header__appointment-btn {
        width: 180px;
    }
}

@media (min-width: 768px) {
    
    .header {
        background-color: #fff;
    }
    
    .header__container {
        min-height: 67px;
    }

    .header-right {
        flex-direction: row;
    }

    .header__phone {
        background-size: 28px;
        background-position: center left;
        padding-left: 37px;
    }

    .header__appointment-btn {
        width: 196px;
        padding: 11px 23px;
        margin-left: 35px;
    }

}